body {
  background: rgb(70, 142, 236);
  font: normal 15pt Arial;
  text-align: center;
}

header {
  color: white;
  text-align: center;
}

section {
  background: white;
  border-radius: 10px;
  padding: 15px;
  width: 500px;
  margin: auto;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.596);
}

#resultado {
  width: 80%;
  justify-content: center;
  margin: auto;
}


footer {
  color: white;
  text-align: center;
  font-style: italic;
}